torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
accelerate==1.6.0
audiomentations==0.42.0
evaluate==0.4.5
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pandas-stubs==2.2.3.250527
pipdeptree==2.28.0
pipreqs==0.5.0
scipy-stubs==1.16.2.0
seaborn==0.13.2
tf-keras==2.19.0
tinycss2==1.4.0
transformers==4.51.3